body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#capa {
  background-size: cover;
  background-image: url(../images/familia-feliz.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  border: solid black 5px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 300px;
  justify-content: flex-end;

  /* position: relative; */
}

#capa img {
  /* superior | direita | inferior | esquerda */
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  padding: 0px 10% 5% 0;
  width: 70%;
}

#capa h1 {
  color: blue;
  text-align: end;
}

.equipe img {
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

@media (min-width: 576px) {
  #capa {
    height: 400px;
  }
  #capa h1 {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  #capa {
    height: 500px;
  }
  #capa h1 {
    font-size: 72px;
  }
}

@media (min-width: 992px) {
  #capa {
    height: 600px;
  }

  #capa h1 {
    font-size: 90px;
  }
}

@media (min-width: 1200px) {
  #capa {
    height: 700px;
  }
  #capa h1 {
    font-size: 120px;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: #03145f;
  height: 70px;
  align-items: center;
  align-content: space-around;
  border: 5px solid orangered;

  margin-bottom: 1px;
}

nav a {
  color: #1bb5da;
  text-decoration: none;
}

nav button {
  background-color: #1bb5da;
  border-radius: 5px;
}

nav input {
  border-radius: 5px;
  border: solid 2px #1bb5da;
}

nav img {
  height: 45px;
  /* height: 10%; */
  /* width: 50px; */
}

nav a:hover {
  color: white;
  justify-content: space-between;
}

.equipe {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  text-align: center;
  border: solid 2px blueviolet;
}
.equipe div {
  border: solid 2px red;
  width: 12%;
}
.tiposDePlanos {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  text-align: center;
  border: solid 2px brown;
}
.tiposDePlanos div {
  border: solid 2px greenyellow;
  width: 20%;
}
.logosParceiros {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  text-align: center;
  border: solid 2px aquamarine;
}
.logosParceiros div {
  border: solid 2px burlywood;
  width: 20%;
}

.logosParceiros img {
  height: 60%;
  width: 60%;
}

.quemSomos {
  align-content: space-around;
  align-items: center;
  border: solid 5px yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  height: 700px;
}

#quemSomosEsquerda {
  border: solid 2px yellowgreen;
  width: 45%;
  font-size: x-large;
  justify-content: space-around;
}

#formEbook {
  border: solid 2px orange;
  width: 45%;
}

#textoQuemSomos {
  border: solid 2px #1bb5da;
  text-align: center;
  line-height: 150%;
  align-content: center;
  justify-items: center;
  justify-content: center;
  padding: 5%;
  height: 70%;
}

#botoesQuemSomosEsquerda {
  border: solid 2px #c43f9c;
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  justify-self: center;
  justify-items: center;
  flex-wrap: wrap;
  padding: 2%;
  height: 10%;
}

#quemSomosEsquerda button {
  background-color: #03145f;
  color: white;
  border-radius: 10px;
  border: solid 1px white;
  font-size: 85%;
  width: 40%;
  height: 70%;
}

.ladoALado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
}

.contato {
  color: black;
}

#faleConosco {
  color: black;
  padding: 2%;
}

footer {
  display: flex;
  background-color: lightcyan;
  color: white;
  height: 200px;
}

footer img {
  height: 50px;
  width: 50px;
}
